* {font-family: Verdana; font-size: 13}

TitleDetail, Price, OrderInfo, Edition { display: block; margin-bottom: 4}

Title {color: rgb(36,27,160); font-weight: bold;}

EditionInfo {font-weight: bold}

Price {color: rgb(29,87,175);}

NewPrice, OldPrice {color: rgb(180,7,7); margin-left: 5px; margin-right: 5px}

NewPrice {font-weight: bold}

OrderInfo { font-size: 10px}

GetDate {font-weight: bold; font-size: 11px}

Hours, Minutes {font-weight: bold; color: green; font-size: 11px}

Edition { font-size: 10px; border-bottom: 1px dashed gray; padding-bottom: 10px; margin-bottom: 7px}

EditionType { font-size: 10px; color: rgb(29, 87, 175);}